#header {
  padding: 20px;
}

#heading_text {
  font-family: 'Slackey', cursive;
  font-family: 'Bungee Shade', cursive;
  font-size: 3em;
}

#view {
  border: 10px solid black;
  width: 70vw;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px 30px 0 30px;
}
.col-md-3+.col-md-3 {
border:0;
}

#answer_div {
  /*font-size: 2em;*/
}

#guess_bar {
  border: 1px solid black;
}

#guess_button {
  vertical-align: center;
  margin: 10px;
}

.working {
  background-color: #FFF176;
}

.complete {
  background-color: #8BC34A;
}

#cred {
  font-family: 'Comfortaa', cursive;
  padding: 20px 0 0 0;
}

footer {
  font-family: 'Comfortaa', cursive;
  font-size: 1.5em;
  padding: 20px;
}
